@font-face {
  font-family: 'maitree';
  src: url("/fonts/Maitree-Light.ttf") format("truetype");
}

body {
  font-family: maitree;
  background-color: white;
}

ul {
  display: flex;
}

p {
  background-color: white;
}

.navbar-link {
  font-family: maitree;
  font-size: larger;
  font-weight: bold;
}

.nav-link {
  font-family: maitree;
  font-size: larger;
  font-weight: bold;
}

header {
  position: fixed;
  margin: 0 4em;
  padding: 10px;
  width: calc(100% - 10em);
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 1em 1em 1em 1em;
  z-index: 2;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: #000000;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.1,1.1);
}

.anchor-container {
  background-color: #FDE74C;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 3em;
  border-right: 3em;
  border-radius: 1em 1em 1em 1em;
}

.nav-container {
  padding: 0 !important;
}

label {
  display: block;
}

nav {
  margin: 1em;
  justify-content: space-around;
  align-items: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

.linkHolder {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
  align-self: center;
  justify-content: center;
}

.half {
  height: 50%;
}

.prodBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  margin: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
}

.cartBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 20px 10px 20px;
  margin: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  background-color: #93BFE7;
}

.cartBox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prodBox:hover {
  transform: scale(1.1,1.1);
  background-color: #93BFE7;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url('pattern-white-blue.jpg');
  
  border-radius: 5px;
}

.productChild {
max-width: 245;
max-height: 342;
margin: 5px;
}

.margined {
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  position: relative;
  color: #000000;  
  line-height: 0.9;
  text-align: center;
}

h2 {
  position: relative;
  color: #000000;  
  line-height: 0.9;
  text-align: center;
}

section {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
}

col {
  width: 100px;
}

.fanart-banner {
  background-image: url('/img/huaxuanimg/v2/Fanarts/EnkiduBig.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  margin-right: .5em;
}

.shop-banner {
  position: relative; 
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .5em;
  margin-right: .5em;
}

.shop-banner::before {    
  content: "";
  background-image: url('/img/huaxuanimg/v2/Fanarts/EnkiduBig.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  filter: alpha(opacity=30)
}

.colpad {
  padding: .5em;
}

.rowpad {
  padding: .5em 0em;
}

.banpad {
  padding: 0em .5em;
}

.space {
  padding-top: 6em;
}

.s-space {
  padding-top: 3em;
}

.insta {
  padding-left: 1em;
  margin-right: 1em;
}

.homepage {
  padding-top: 1rem;
  background-color: white;
}

body::before {
  display: block;
  content: '';
}

.square {
    flex: 1;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.grey-out-layer {
  opacity: 0.5;
  filter: alpha(opacity=30)
}

.left {
  justify-content: left;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}