@font-face {
  font-family: 'maitree';
  src: url("/fonts/Maitree-Light.ttf") format("truetype");
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  object-position: center;
  object-fit: cover;
}

body {
  font-family: maitree;
  background-color: white;
}

ul {
  display: flex;
}

a {
  font-family: maitree !important;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.navbar-link {
  font-family: maitree;
  font-size: larger;
  font-weight: bold;
}

.nav-link {
  font-family: maitree;
  font-size: larger;
  font-weight: bold;
}

header {
  position: fixed;
  margin: 0 4em;
  padding: 10px;
  width: calc(100% - 10em);
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 1em 1em 1em 1em;
  z-index: 2;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.1,1.1);
}

.anchor-container {
  background-color: #FDE74C;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 3em;
  border-right: 3em;
  border-radius: 1em 1em 1em 1em;
}

.nav-container {
  padding: 0 !important;
}

label {
  display: block;
}

nav {
  margin: 1em;
  justify-content: space-around;
  align-items: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

.linkHolder {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
  align-self: center;
  justify-content: center;
}

.half {
  height: 50%;
}

.margined {
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  position: relative;
  color: #000000;
  line-height: 0.9;
  text-align: center;
}

h2 {
  position: relative;
  color: #000000;
  line-height: 0.9;
  text-align: center;
}

section {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
}

col {
  width: 100px;
}

.fanart-banner::before {
  content: "";
  background-image: url('/img/Portfolio_banner.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.fanart-banner {
  position: relative;
  width: 100vw;
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .5em;
  margin-right: .5em;
  -webkit-filter: brightness(100%);

}

.fanart-banner:hover::before {
  -webkit-filter: brightness(50%);
}

.merch-banner::before {
  content: "";
  /* background-image: url('/img/huaxuanimg/Shop Pics/merchbanner.jpg'); */
  background-image: url('/img/Portfolio_banner.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.merch-banner {
  position: relative;
  width: 100vw;
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .5em;
  margin-right: .5em;
  -webkit-filter: brightness(100%);

}

.merch-banner:hover::before {
  -webkit-filter: brightness(50%);
}

.caption {
  display: inline-block;
  background: black;
  padding: 0;
  position:relative
}

.caption img {
  display: block;

  -webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
}

.caption:hover img {
  opacity: 0.5;
}
.caption span {
  position:absolute;
  top: 45%;
  left: 50%;
  color:#00000049;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 150%;
  }

.caption:hover span{color:#fff;
  -webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
}

.banner-text {
  color: white;
  font-size: 1.5em;
  text-align: center;
  translate: 0px 5px;

}

.botimg {
  position: relative;
  z-index: 1;
}

.topimg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.shop-banner {
  position: relative;
  width: 100vw;
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .5em;
  margin-right: .5em;
}

.shop-banner::before {
  content: "";
  background-image: url('/img/huaxuanimg/v2/Fanarts/EnkiduBig.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  filter: alpha(opacity=30)
}

.shop-item {
  position: relative;
  display: flex;
}

.shop-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.con-banner::before {
  content: "";
  background-image: url('/img/YumeConUSA.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.con-banner {
  position: relative;
  width: 100vw;
  height: 600px;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .5em;
  margin-right: .5em;
  -webkit-filter: brightness(100%);
}

.con-banner:hover::before {
  -webkit-filter: brightness(50%);
}

.portfolio-effect-container {
  position: relative;
  overflow: hidden;
}

.portfolio-effect {
  width: 100%;
  height: auto;
  transform: scale(1) translateY(0);
  transition: transform 1s ease;
}

.portfolio-effect:hover {
  transform: scale(1.2) translateY(20px);
}

.colpad {
  padding: .5em;
}

.rowpad {
  padding: .5em 0em;
}

.banpad {
  padding: 0em .5em;
}

.space {
  padding-top: 6em;
}

.s-space {
  padding-top: 3em;
}

.ss-space {
  padding-top: 5em;
}

.insta {
  padding: .5em;
}

.homepage {
  padding-top: 1rem;
  background-color: white;
}

body::before {
  display: block;
  content: '';
}

.square {
    flex: 1;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.square-element {
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
}

.grey-out-layer {
  opacity: 0.5;
  filter: alpha(opacity=30)
}

.left {
  justify-content: left;
}

.footer {
  margin-top: 2em;
  padding-top: 1em;
  background-color: #f8f9fa;
  background-origin: content-box;
  padding-bottom: .75em;
}

.blur-load {
  background-size: cover;
  background-position: center;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}